.bookings-container {
    padding: 20px;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .bookings-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .loading-spinner {
    display: block;
    margin: 20px auto;
  }
  .bookings-table-wrapper {
    overflow-x: auto;
    width: 100%;
  }
  
  .bookings-table {
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    min-width: 600px; 
  }
  
  @media (max-width: 768px) {
    .bookings-container {
      width: 95%;
      padding: 10px;
    }
  
    .bookings-title {
      font-size: 20px;
    }
  
    .bookings-table {
      padding: 5px;
      font-size: 14px;
    }
  }