.login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-form .input-box-text {
    margin: 10px;
}

.login-form-password {
    
    max-width: 30%;
    height: 48px;
    margin: 10px;
}

.login-form-email{
    max-width: 30%;
}

@media(max-width:768px){
    .login-form-password{
        max-width:60%;
    }
   .login-form-email{
       max-width: 60%;
   }
}